/*** GLOBAL ***/
  html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  }

  body {
    font-family: 'Manrope', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #ffffff;
  }

/**** INDEX HTML ****/
/* HEADER */
  #header {
    top: 0;
    padding: 8px 0;
    position: fixed;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    z-index: 1000;
  }

  #header.scrolled {
    background-color: #343434f2; /* Ajusta opacidad/color si deseas */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

/* MAIN-BANNER-INDEX */
  .main-banner-index {
    position: relative;
    width: 100%;
    height: calc(90vh - 100px);
    background-image: url(imagenes/Background-header.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  /* MAIN-BANNER-INDEX Centrado en x,y */
  .contenido {
    margin: 0 auto;
    padding: 10%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  } 

  /* MAIN-BANNER-INDEX Titulo, Color y tamaño */
  .contenido h1 {
    font-size: 56px;
    color: #000000 !important;
  }
  
/* MAIN-BANNER-INDEX Subtitulo, Color, tamaño e interlineado entre titulo y subtitulo */
  .contenido p {
    margin: 32px 0;
    font-size: 18px;
    color: #000000;
  }

/* MAIN-BANNER-INDEX CTA horizontales */
  .button-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

/* MAIN-BANNER-INDEX CTA verticales */ 
a.card-link {
  display: block;
}

/**** PROYECTO-1 ****/
/* MAIN-BANNER-PROYECTO-1 */

/* HEADER */
#header {
  top: 0;
  padding: 8px 0;
  position: fixed;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  z-index: 1000;
}

#header.scrolled {
  background-color: #343434f2; /* Ajusta opacidad/color si deseas */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.header a{
  color: white;
  text-decoration: none;
}

/* MAIN-BANNER-PROYECTO-1 imagen */
.main-banner-proyecto-1 {
  position: relative;
  width: 100%;
  height: calc(50vh - 100px);
  background-image: url(imagenes/Background-Proyecto-1.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* MAIN-BANNER-PROYECTO-1 Centrado en x,y */
.contenido {
  margin: 0 auto;
  padding: 10%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
} 

/* MAIN-BANNER-PROYECTO-1 CTA horizontales */
.button-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

/**** PROYECTO-2 ****/
/* HEADER */

/**** PROYECTO-4 ****/
/* HEADER */


/**** Responsivo Global ****/
@media (max-width: 768px) {
  .contenido h1 {
    font-size: 36px;
  }

  .contenido p {
    font-size: 16px;
  }

  .button-flex {
    flex-direction: column;
    gap: 12px;
  }

  .horizontal-divider {
    display: none;
  }
}